$background: #fff;

* {
  margin: 0;
}

header {
  position: fixed;
  top: 18px;
  right: 1vw;

  a {
    color: $background;
    padding: 0.3rem;
    font-size: 1.3rem;
  }
}

.secHeader {
  background: darken($background, 90);
  color: $background;
  padding: 15px;
}

.main,
.settings {
  display: flex;
  margin-top: 8vh;
  justify-content: space-around;
}

.list {
  height: 70vh;
  position: relative;
  border: 2px solid;
  text-align: center;
  width: 70vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Add the shadow color (e.g., rgba(0, 0, 0, 0.3))
  overflow: hidden;

  .pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

form,
.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 2px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Add the shadow color
  padding: 2rem;
  font-size: 1.3rem;

  label {
    margin: 0.5rem 0;
  }

  input {
    margin-top: 7px;
    height: 22px;
  }

  button {
    margin-top: 1.4rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}

.settingsResults {
  height: 70vh;
  border: 2px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Add the shadow color
  display: grid;
  place-content: center;
  width: 70vw;
  overflow: hidden;
  position: relative;

  h2 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
  }

  p {
    padding: 0.3rem;
  }
}
